@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>...</p>
        <img src="http://www.cio.com/images/content/articles/body/2012/07/spongebob.jpg" alt="Bob" width="280">
        
    </div>
</div>