
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Privacy Policy</h2>

We collect everything about you, steal all your informations and sell them to Facebook et al.

<br /><br /><br /><br /><br />